<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <script src="https://kit.fontawesome.com/b93d396381.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <div class="search-bar">
        <a id="logo" href="/"><img src="images/logo-mercado-liebre.svg"  alt="Logo de la empresa"></a>
        <form>
            <input type="text" placeholder="Buscar productos, marcas">
            <i class="fa-solid fa-magnifying-glass" ></i>
        </form>
        <p id="formas-de-pago"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="bars">
            <div class="nav-bar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            </div>
            <div class="login-bar">
                <ul>
                    <li ><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
        </div>    
    <div class="burguer-menu">
        <i class="fas fa-bars"></i>
    </div>
    <div style="background-color:  #ebebeb;">
        <img id="banner" src="images/img-home-banner.jpg"  alt="Banner">
    </div>
    </header>
<main>
    <section class="ultima-visita">
        <h2>Basado en tu última visita</h2>
        <article class="producto">
            <img class="imagen-producto" src="images/img-cafetera-moulinex.jpg" alt="Cafetera" >
            <div class="detalle-producto">
                <i class="fa-solid fa-truck"></i>
                <div class="container-detalle">
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                </div>
                <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
            </div>
        </article>
        <article class="producto">
            <img class="imagen-producto" src="images/img-macbook-pro-2019.jpg" alt="Macbook" > 
            <div class="detalle-producto">
                <i class="fa-solid fa-truck"></i>
                <div class="container-detalle">   
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                </div>
                <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
            </div>
        </article>
        <article class="producto">
            <img class="imagen-producto" src="images/img-samsung-galaxy-s10.jpg" alt="Galaxy" >
            <div class="detalle-producto">
                <i class="fa-solid fa-truck"></i>
                <div class="container-detalle">
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                </div>
                <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
            </div>
        </article>
        <article class="producto">
            <img class="imagen-producto" src="images/img-tv-samsung-smart.jpg" alt="SmarTv">
            <div class="detalle-producto">
                <i class="fa-solid fa-truck"></i>
                <div class="container-detalle">
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                </div>
                <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
            </div>
        </article>
    </section>
    <section class="ofertas">
        <h2>Ofertas</h2>
        <article class="producto">
            <img class="imagen-producto" src="images/img-cafetera-moulinex.jpg" alt="Cafetera" width="500">
            <div class="detalle-producto">
                <i class="fa-solid fa-truck"></i>  
                <div class="container-detalle">  
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                </div>
                <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
            </div>
        </article>
        <article class="producto">
            <img class="imagen-producto" src="images/img-macbook-pro-2019.jpg" alt="Macbook" width="500">
            <div class="detalle-producto">
                <i class="fa-solid fa-truck"></i>
                <div class="container-detalle">    
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                </div>
                <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
            </div>
    </article>
    <article class="producto">
        <img class="imagen-producto" src="images/img-samsung-galaxy-s10.jpg" alt="Galaxy" width="500">
        <div class="detalle-producto">
            <i class="fa-solid fa-truck"></i>
            <div class="container-detalle">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
            </div>
            <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
        </div>
    </article>
    <article class="producto">
        <img class="imagen-producto" src="images/img-tv-samsung-smart.jpg" alt="SmarTv" width="500">
        <div class="detalle-producto">
            <i class="fa-solid fa-truck"></i>
            <div class="container-detalle">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
            </div>
            <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
        </div>
    </article>
    </section>
</main>
    <footer>
        <div class="elementos-footer">
            <div class="footers">
                <i class="fa-solid fa-credit-card"></i>
                <p class="beneficios">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footers">
                <i class="fa-solid fa-gift"></i>
                <p class="beneficios">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footers">
                <i class="fa-solid fa-user-shield"></i>
                <p class="beneficios">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
        </div>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>
</html>